<mat-form-field>
  <input matInput (input)="applyFilter($event.target.value)" placeholder="Filter" />
</mat-form-field>
<button mat-raised-button color="accent" (click)="clearFilters()">Clear Filters</button>

<ag-grid-angular
  #agGrid
  style="width: 100%; height: 98%;"
  id="myGrid"
  class="ag-theme-material"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [debug]="true"
  [pagination]="true"
  [paginationPageSize]="paginationPageSize"
  [rowData]="rowData | async"
  (gridReady)="onGridReady($event)"
  [animateRows]="true"
  [floatingFilter]="true"
  [frameworkComponents]="frameworkComponents"
  [quickFilterText]="quickFilterText"
></ag-grid-angular>
